.header {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
}
h1{
	font-family: "lato", sans-serif;
	text-indent: 1px;
}
body{
	background-color: white;
	font-family: "lato", sans-serif;

}
